In [29]:
import pandas as pd
df = pd.DataFrame(columns = ['price', 'symbol', 'volume', 'stamp', 'time'])

In [31]:
df

  price  symbol volume         stamp                       time
0   121  BOGDAN      1  1.601405e+09 2020-09-29 21:46:51.264627

In [32]:
df['stamp'][0]

1601405211.264627

In [71]:
df = df.append({
    'price': 121,
    'symbol': 'BOGDAN',
    'volume': 1,
    'stamp': current_time.timestamp(),
    'time': current_time
}, ignore_index = True)

In [15]:
import datetime

In [70]:
current_time = datetime.datetime.now()

In [20]:
current_time.strftime('%Y-%m-%d %H:%M:%S')

'2020-09-29 21:46:51'

In [21]:
current_time

datetime.datetime(2020, 9, 29, 21, 46, 51, 264627)

In [27]:
current_time.timestamp()

1601405211.264627

In [28]:
datetime.datetime.utcfromtimestamp(_)

datetime.datetime(2020, 9, 29, 18, 46, 51, 264627)

In [43]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:password@localhost/tradingbot')

In [72]:
df

  price  symbol volume         stamp                       time
0   121  BOGDAN      1  1.601405e+09 2020-09-29 21:46:51.264627
1   121  BOGDAN      1  1.601578e+09 2020-10-01 21:53:09.109892
2   121  BOGDAN      1  1.601579e+09 2020-10-01 22:07:31.518366

In [73]:
df.to_sql(
    name = 'transactions',
    con = engine,
    if_exists = 'append',
    index = False,
    method = 'multi'
)

In [54]:
from sqlalchemy.types import Float, String, BigInteger, DateTime
from sqlalchemy import MetaData, Table, Column, Index

In [55]:
meta = MetaData()

In [56]:
table = Table(
    'transactions',
    meta,
    Column('id', BigInteger, primary_key = True),
    Column('price', Float),
    Column('symbol', String(32)),
    Column('volume', Float),
    Column('stamp', BigInteger),
    Column('time', DateTime)
)

In [57]:
Index(
    'symbol_stamp',
    table.c.symbol,
    table.c.stamp,
    unique = True
)
Index(
    'symbol',
    table.c.symbol
)

Index('symbol', Column('symbol', String(length=32), table=<transactions>))

In [58]:
meta.create_all(engine)

In [66]:
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Insert

In [67]:
@compiles(Insert)
def a(insert, compiler, **kwargs):
    return compiler.visit_insert(insert.prefix_with('IGNORE'), **kwargs)

In [74]:
def s(n):
    return n + 1

In [76]:
s(1),s(2),s(3)

(2, 3, 4)

In [77]:
def g(func):
    def w(*args, **kwargs):
        return '{} este succesorul lui {}'.format(func(*args, **kwargs), args[0])
    return w

In [78]:
s = g(s)

In [79]:
s(1),s(2),s(3)

('2 este succesorul lui 1',
 '3 este succesorul lui 2',
 '4 este succesorul lui 3')

In [80]:
@g
def s(n):
    return n + 1

In [81]:
s(1),s(2),s(3)

('2 este succesorul lui 1',
 '3 este succesorul lui 2',
 '4 este succesorul lui 3')

In [82]:
@g
def h(n):
    return n + 2

In [83]:
h(1),h(2),h(3)

('3 este succesorul lui 1',
 '4 este succesorul lui 2',
 '5 este succesorul lui 3')

In [84]:
@g
def x(a, b):
    return a + b

In [85]:
x(1, 2)

'3 este succesorul lui 1'